In [25]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [26]:
inform = pd.read_csv('training_info_with_pascal_Mar_27_upsampling.csv')
inform.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>iter</th>
      <th>train_accracy</th>
      <th>train_iou</th>
      <th>test_accracy</th>
      <th>test_iou</th>
      <th>loss</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0</td>
      <td>0.000000</td>
      <td>0.082483</td>
      <td>0.000000</td>
      <td>0.051579</td>
      <td>486274.968750</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>50</td>
      <td>0.023534</td>
      <td>0.063637</td>
      <td>0.186350</td>
      <td>0.262103</td>
      <td>154676.828125</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>100</td>
      <td>0.000000</td>
      <td>0.070781</td>
      <td>0.000045</td>
      <td>0.040185</td>
      <td>216734.718750</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>150</td>
      <td>0.004813</td>
      <td>0.048329</td>
      <td>0.039617</td>
      <td>0.080561</td>
      <td>299537.031250</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>200</td>
      <td>0.000000</td>
      <td>0.249607</td>
      <td>0.000000</td>
      <td>0.094928</td>
      <td>347470.968750</td>
    </tr>
  </tbody>
</table>
</div>

In [27]:
inform2 = pd.read_csv('training_info_with_pascal_Mar_27_upsampling_2.csv')
inform2.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>iter</th>
      <th>train_accracy</th>
      <th>train_iou</th>
      <th>test_accracy</th>
      <th>test_iou</th>
      <th>loss</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>5000</td>
      <td>0.446277</td>
      <td>0.235579</td>
      <td>0.220311</td>
      <td>0.111435</td>
      <td>152662.937500</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>5050</td>
      <td>0.000000</td>
      <td>0.088386</td>
      <td>0.196003</td>
      <td>0.187954</td>
      <td>214230.000000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>5100</td>
      <td>0.371048</td>
      <td>0.187366</td>
      <td>0.110915</td>
      <td>0.071549</td>
      <td>432801.437500</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>5150</td>
      <td>0.540049</td>
      <td>0.263006</td>
      <td>0.000000</td>
      <td>0.137966</td>
      <td>131455.328125</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>5200</td>
      <td>0.000000</td>
      <td>0.065480</td>
      <td>0.182854</td>
      <td>0.147779</td>
      <td>133831.296875</td>
    </tr>
  </tbody>
</table>
</div>

In [28]:
len(inform2)

101

In [29]:
iter2 = inform2['iter'].tolist()
train_acc2 = inform2['train_accracy'].tolist()
train_iou2 = inform2['train_iou'].tolist()
test_acc2 = inform2['test_accracy'].tolist()
test_iou2 = inform2['test_iou'].tolist()
loss2 = inform2['loss'].tolist()

In [30]:
iter = inform['iter'].tolist()
train_acc = inform['train_accracy'].tolist()
train_iou = inform['train_iou'].tolist()
test_acc = inform['test_accracy'].tolist()
test_iou = inform['test_iou'].tolist()
loss = inform['loss'].tolist()

In [31]:
len(iter2)

101

In [32]:
iter.extend(iter2)
train_acc.extend(train_acc2)
train_iou.extend(train_iou2)
test_acc.extend(test_acc2)
test_iou.extend(test_iou2)
loss.extend(loss2)

In [33]:
len(loss)

201

In [34]:
temp_x1 = []
temp_y1 = []
temp_x1.append(loss[0])
temp_y1.append(0)
for i in range(0,int(len(loss)/5)):
    temp_x1.append(np.mean(loss[5*i+1:5*i+6]))
    temp_y1.append((i+3)*500)

In [35]:
plt.figure()
plt.plot(temp_y1,temp_x1)
plt.yscale('log')
plt.title('loss')
plt.show()

In [36]:
# 去掉acc表中的nan
for i in range(len(train_acc)):
    if train_acc[i] != train_acc[i]:
        train_acc[i] = 0
# 每五个点取平均
temp_x1 = []
temp_y1 = []
temp_x1.append(train_acc[0])
temp_y1.append(0)
for i in range(0,int(len(train_acc)/5)):
    temp_x1.append(np.mean(train_acc[5*i+1:5*i+6]))
    temp_y1.append((i+3)*500)

# 去掉acc表中的nan
for i in range(len(test_acc)):
    if test_acc[i] != test_acc[i]:
        test_acc[i] = 0
# 每五个点取平均
temp_x2 = []
temp_y2 = []
temp_x2.append(test_acc[0])
temp_y2.append(0)
for i in range(0,int(len(test_acc)/5)):
    temp_x2.append(np.mean(test_acc[5*i+1:5*i+6]))
    temp_y2.append((i+3)*500)

In [37]:
plt.figure()
plt.plot(temp_y1,temp_x1,'r')
plt.plot(temp_y2,temp_x2,'b')
plt.title('pascal accracy, red - train, blue - test')
plt.show()

In [38]:
# 取5个点平均作图
temp_x1 = []
temp_y1 = []
temp_x1.append(train_iou[0])
temp_y1.append(0)
for i in range(0,int(len(train_iou)/5)):
    temp_x1.append(np.mean(train_iou[5*i+1:5*i+6]))
    temp_y1.append((i+3)*500)
# 取5个点平均作图
temp_x2 = []
temp_y2 = []
temp_x2.append(test_iou[0])
temp_y2.append(0)
for i in range(0,int(len(test_iou)/5)):
    temp_x2.append(np.mean(test_iou[5*i+1:5*i+6]))
    temp_y2.append((i+3)*500)

In [39]:
plt.figure()
plt.plot(temp_y1,temp_x1,'r')
plt.plot(temp_y2,temp_x2,'b')
plt.title('pascal iou, red - train, blue - test')
plt.show()