In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
inform = pd.read_csv('training_info_with_pascal.csv')
inform.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>iter</th>
      <th>train_accracy</th>
      <th>train_iou</th>
      <th>test_accracy</th>
      <th>test_iou</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0</td>
      <td>0.005127</td>
      <td>0.047549</td>
      <td>0.017334</td>
      <td>0.162654</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>100</td>
      <td>0.016357</td>
      <td>0.002978</td>
      <td>0.013428</td>
      <td>0.009399</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>200</td>
      <td>0.045410</td>
      <td>0.011765</td>
      <td>0.058105</td>
      <td>0.489955</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>300</td>
      <td>0.052734</td>
      <td>0.168625</td>
      <td>0.047363</td>
      <td>0.572173</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>400</td>
      <td>0.069092</td>
      <td>0.371618</td>
      <td>0.063721</td>
      <td>0.495381</td>
    </tr>
  </tbody>
</table>
</div>

In [3]:
iter = inform['iter'].tolist()
train_acc = inform['train_accracy'].tolist()
train_iou = inform['train_iou'].tolist()
test_acc = inform['test_accracy'].tolist()
test_iou = inform['test_iou'].tolist()

In [4]:
plt.figure()
plt.plot(iter,train_acc)
plt.plot(iter,train_iou)
plt.title('accracy')
plt.show()

In [5]:
plt.figure()
plt.plot(iter,test_acc)
plt.plot(iter,test_iou)
plt.title('iou')
plt.show()